body{
    position: relative;
}

.navbarContainer{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navBtn {
    margin-left: 40%;
    /* background-color: rgb(218, 230, 230); */
    display: none;
}

.navBtnChild {
    cursor: pointer;
    border-radius: 10px;
    /* background-color: rgb(208, 248, 244); */
}
.signin{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 56, 139);
    color: aliceblue;
}
.signin:hover{
    color: rgb(18, 22, 24);
}